/*
	CSS animated loading dots
*/

  .loading_dots
  {
    font-size: 1.5em; /* set size here */
    width: 2.75em;
    margin: auto;
    display: none;
    vertical-align: middle;
  }

  .loading_dots span
  {
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    height: 0.6em;
    width:  0.6em;

      -webkit-animation:  loading_dots 0.8s linear infinite;
      -moz-animation:     loading_dots 0.8s linear infinite;
      -ms-animation:      loading_dots 0.8s linear infinite;
    animation:            loading_dots 0.8s linear infinite;
  }
    .loading_dots span:nth-child(2)
    {
        -webkit-animation-delay:  0.2s;
        -moz-animation-delay:     0.2s;
        -ms-animation-delay:      0.2s;
      animation-delay:            0.2s;
    }
    .loading_dots span:nth-child(1)
    {
  	-webkit-animation-delay:  0.4s;
        -moz-animation-delay:     0.4s;
        -ms-animation-delay:      0.4s;
      animation-delay:            0.4s;
    }

/*
  Define the animation for every efing vendor prefix
*/
  @-webkit-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #000;
    }
    100% {
      background: transparent;
    }
  }
  
  @-moz-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #000;
    }
    100% {
      background: transparent;
    }
  }
  @-ms-keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #000;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes loading_dots
  {
    0% {
      background: transparent;
    }
    50% {
      background: #000;
    }
    100% {
      background: transparent;
    }
  }
