.playground {
	background-color: #63943a;
	height: 380px;
	width: 90%;
	margin: auto;
	border: 1px solid #000;
	border-radius: 5px;
	position: relative;
}
.playground .outer, .inner{
	border: 2px solid #000;
	margin: auto;
   	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	position: absolute;
}
.playground .outer.out{
	width: 300px;
	height: 300px;
	background-color: #FFF;
	bottom: 40px;
}
.playground .outer.in{
	width: 280px;
	height: 280px;
	background-color: #63943a;
	cursor: pointer;
}
.inner.ball{
	width: 100px;
	height: 100px;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;	
	cursor: pointer;
}
.inner.ball > span{
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
	transform: translate(0, -50%);
}
.transition {
	-webkit-transition: all 3500ms ease;
	-moz-transition: all 3500ms ease;
	-ms-transition: all 3500ms ease;
	-o-transition: all 3500ms ease;
	transition: all 3500ms ease;
}
.playground .step{
	height: 40px;
	width: 150px;
	background-color: #FFF;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	font-family: "Arial";
	margin: auto;
	top: 350px;
	left: 0;
	right: 0;
	position: absolute;
}
.circle {
    border-radius: 50%;
}
.result {
	border: 2px solid #000;
	border-radius: 20px;
	height: auto;
	text-align: center;
	width: 95%;
	margin: 30px auto 0 auto;
	padding-bottom: 20px;
}
.result > span , .rank > span {
	font-size: 30px;
	text-decoration: underline;
	font-family: "Arial";
	display: block;
	padding-bottom: 10px;
}
.result .pathway {
	height: 150px;
	border: 2px solid #000;
	border-radius: 5px;
	display: inline-block;
	width: 17%;
	margin-left: 2%;
	vertical-align: middle;
	font-family: "Arial";
	position: relative;
}
.pathway.played {
	background-color: #FFE073;
}
.pathway.playing {
	background-color: #DFB138;
}
.pathway > .data {
	margin: auto;
	top: 35%;
	left: 0;
	right: 0;
	position: absolute;
	font-size: 20px;
}
.result  > div.pathway:first-of-type  {
	margin-left: 0;
}
.rank {
	border: 2px solid #000;
	border-radius: 10px;
	height: auto;
	text-align: center;
	width: 85%;
	margin: 10px auto 0 auto;
	padding-bottom: 20px;
	position: relative;
}
.rank .block .ranking {
	height: 150px;
	border: 2px solid #000;
	border-radius: 10px;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-family: "Arial";
	line-height: 150px;
	position: relative;
}
.rank .block .ranking > span{
	height: 20%;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	width: 100%;
	background-image: url("../img/star-rank.gif");
	background-repeat: no-repeat;
	background-size: 120% auto;
	background-position: -15px -20px;
}
.rank  > div.block:nth-of-type(2)  {
	margin-left: 0;
}
.rank .block {
	display: inline-block;
	width: 17%;
	margin-left: 2%;
	vertical-align: middle;
	font-family: "Arial";
	position: relative;
}
.rank .block span {
	display: block;
}
.rank .progress{
	border-right: 2px solid #000;
	border-radius: 10px;
	background-color: #ACD9F4;
	height: 100%;
	text-align: center;
	width: 0%;
	max-width: 100%;
	margin: auto;
	position: absolute;
	z-index: -9;
	display: none;
}
.ranking.reached {
	background-color: #5EB5E3;
}
#summary { 
	width: 500px;
	display: none;
}
#summary .overlay {
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background: rgba(76,76,76,0.5); 
	z-index: 100;
}
#summary .popupOut {
	position: absolute; 
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto; 
	width: 500px; 
	height: 325px; 
	border-radius: 10px;
	background-color: #fff; 
	text-align: center;
	z-index: 101;
}
#summary .popupIn {
	text-align: center;
}
.popupIn > #rank.image{
	height: 65px;
	width: 100%;
	background-image: url("../img/star-rank.gif");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0px -285px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
	.result .pathway{ 
	    margin-left: 1%;
	    height: auto;
	}
	.result .pathway:before{
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	}
	.pathway > .data {
		font-size: 15px;
	}	
	.rank .block .ranking{
		line-height: normal;
		height: auto;
	}	
	.rank .block .ranking:before {
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/		
	}
	.rank .block {
		margin-left: 1%;
	}	
	.rank {
		width: 100%;
	}
}
@media (max-width: 600px) {
	#summary { 
		width: 300px;
	}		
	.popupIn > #rank.image	{
		height: 36px;
	}
}
@media (max-width: 480px) {
	.pathway > .data {
		top: 15%;
	}			
}
@media (max-width: 380px) {
	.result .pathway{ 
		margin-left: 0%;
	}
	.pathway > .data {
		font-size: 12px;
		top: 0%;
	}
	.playground	{
		width: 100%;
	}
	.playground .outer.out{
		width: 280px;
		height: 280px;
	}
	.playground .outer.in{
		width: 260px;
		height: 260px;
	}
	.inner.ball{
		width: 80px;
		height: 80px;	
	}	
	#summary { 
		width: 250px;
	}		
}